﻿<div class="container">
    <form>
        <div class="card bg-light pr-1 pl-1">
            <div class="card-header">
                Add Movie
            </div>
            <div class="form-row">
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="mname">Movie Name</label>
                    <input class="form-control" type="text" id="mname" placeholder="mname" [(ngModel)]="newMovie.mname" name="mname">
                </div>
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="mplot">Plot</label>
                    <input class="form-control" type="text" id="mplot" placeholder="mplot" [(ngModel)]="newMovie.mplot" name="mplot">
                </div>
            </div>
            <div class="form-row">
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="datetime">Year</label>
                    <input class="form-control" type="text" id="myear" placeholder="myear" [(ngModel)]="newMovie.myear" name="myear">
                </div>
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="datetime">Poster</label>
                    <input class="form-control" type="text" id="mposter" placeholder="mposter" [(ngModel)]="newMovie.mposter" name="mposter">
                </div>
            </div>
            <div class="form-row">
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="add_actor" class="ml-2">Actors</label>
                    <select class="form-control" name="add_actor" placeholder="add_actor" (change)="addhero($event.target.value)">
                        <option *ngFor="let actor of actorlist" value={{actor.aid}}>{{actor.aname}}</option>
                    </select>
                </div>
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn btn-primary mt-4" (click)="addnewhero()">add</button>
                </div>
            </div>
            <div class="form-row">
                <label for="createnewhero">Add new Hero</label>
                <input class="form-control" type="text" id="createnewhero" placeholder="Add New Hero" [(ngModel)]="createnewhero_name" name="createnewhero">
                <button class="btn btn-primary mt-4" (click)="createnewhero()">create</button>
            </div>
            <div class="form-row">
                <div *ngIf="newactorview.length >0" class="ml-2">
                    Added actors
                    <div *ngFor="let actor of newactorview;">
                        <div class="alert alert-primary ml-2">
                            {{ actor }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="add_producer" class="ml-2">Producers</label>
                    <select class="form-control" name="add_producer" placeholder="add_producer" (change)="addproducer($event.target.value)">
                        <option *ngFor="let producer of producerlist" value={{producer.pid}}>{{producer.pname}}</option>
                    </select>
                </div>
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn btn-primary mt-4" (click)="addnewproducer()">add</button>
                </div>
            </div>
            <div class="form-row">
                <label for="createnewproducer">Add new Producer</label>
                <input class="form-control" type="text" id="createnewproducer" placeholder="Add New Producer" [(ngModel)]="createnewproducer_name" name="createnewproducer">
                <button class="btn btn-primary mt-4" (click)="createnewproducer()">create</button>
            </div>
            <div class="form-row">
                <div *ngIf="newproducerview.length >0" class="ml-2">
                    Added Producers
                    <div *ngFor="let producer of newproducerview;">
                        <div class="alert alert-primary ml-2">
                            {{ producer}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-center">
                <button class="btn btn-primary" (click)="addMovie()">
                    Add
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </form>

    <div *ngIf="movielists?.length > 0;else noItems">
        <div *ngFor="let movie of movielists" class="card text-white mt-3 mb-3 bg-primary">
            <div class="card-body">
                <div class="card-header">
                    Name: {{movie.mname}}
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class="card-text">Year : {{movie.myear}}</p>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class="card-text">Plot : {{movie.mplot}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class="card-text">Poster : {{movie.mposter}}</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        Heros :
                        <div *ngFor="let actor of movie.lactor">
                            {{actor.aname}}
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        Producers :
                        <div *ngFor="let producer of movie.lproducers">
                            {{producer.pname}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-xs btn-light  ml-2" (click)="editMovie(movie)">
                        Edit
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-primary  ml-2" *ngIf="editmoviestate && movieToEdit.mid == movie.mid" (click)="clearEditMovie()">
                        Back
                        <i class="fa fa-compress"></i>
                    </button>
                </div>
            </div>
            <div *ngIf="editmoviestate && movieToEdit.mid == movie.mid">
                <form (ngSubmit)="UpdateMovie(movieToEdit)">
                    <div class="card  bg-success">
                        <div class="card-header text-center">
                            Edit Movie Details
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="card-header">
                                    Name: {{movieToEdit.mname}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" type="text" placeholder="myear" [(ngModel)]="movieToEdit.myear" name="myear">
                                </div>
                                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" type="text" placeholder="mplot" [(ngModel)]="movieToEdit.mplot" name="mplot">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" type="text" placeholder="mposter" [(ngModel)]="movieToEdit.mposter" name="mposter">
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">
                                    Update
                                    <i class="fa fa-check"></i>
                                </button>
                                <button type="button" class="btn btn-xs btn-danger  ml-2" (click)="deleteMovie(movieToEdit)">
                                    Delete
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #noItems>
    <hr>
    <h5>No Movies found</h5>
</ng-template>