﻿<div class="container">
    <form (ngSubmit)="addProducer()">
        <div class="card bg-light pr-1 pl-1">
            <div class="card-header">
                Add Producer
            </div>
            <div class="form-row">
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="pname">Producer Name</label>
                    <input class="form-control" type="text" id="pname" placeholder="pname" [(ngModel)]="newProducer.pname" name="pname">
                </div>
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="pdob">DOB</label>
                    <input class="form-control" type="text" id="pdob" placeholder="pdob" [(ngModel)]="newProducer.pdob" name="pdob">
                </div>
            </div>
            <div class="form-row">
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="pgender">Gender</label>
                    <input class="form-control" type="text" id="pgender" maxlength="1" placeholder="M or F" [(ngModel)]="newProducer.pgender" name="pgender">
                </div>
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="datetime">BIO</label>
                    <input class="form-control" type="text" id="pbio" placeholder="pbio" [(ngModel)]="newProducer.pbio" name="pbio">
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">
                    Add
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </form>

    <div *ngIf="producerCollection?.length > 0;else noItems">
        <div *ngFor="let producer of producerCollection" class="card text-white mt-3 mb-3 bg-primary">
            <div class="card-body">
                <div class="card-header">
                    Name: {{producer.pname}}
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class="card-text">Year : {{producer.pdob}}</p>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class="card-text">Gender : {{producer.pgender}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class="card-text">Bio : {{producer.pbio}}</p>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-xs btn-light  ml-2" (click)="editProducer(producer)">
                        Edit
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-primary  ml-2" *ngIf="editproducerstate && producerToEdit.pid == producer.pid" (click)="clearEditProducer()">
                        Back
                        <i class="fa fa-compress"></i>
                    </button>
                </div>
            </div>
            <div *ngIf="editproducerstate && producerToEdit.pid == producer.pid">
                <form (ngSubmit)="UpdateProducer(producerToEdit)">
                    <div class="card  bg-success">
                        <div class="card-header text-center">
                            Edit Producer Details
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="card-header">
                                    Name: {{producerToEdit.pname}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" type="text" placeholder="pdob" [(ngModel)]="producerToEdit.pdob" name="pdob">
                                </div>
                                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" type="text" placeholder="pgender" [(ngModel)]="producerToEdit.pgender" name="pgender">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" type="text" placeholder="pdob" [(ngModel)]="producerToEdit.pdob" name="pdob">
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">
                                    Update
                                    <i class="fa fa-check"></i>
                                </button>
                                <button type="button" class="btn btn-xs btn-danger  ml-2" (click)="deleteProducer(producerToEdit)">
                                    Delete
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #noItems>
    <hr>
    <h5>No Producers found</h5>
</ng-template>