<div class="container">
    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive='home'>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="actors" routerLinkActive='actors'>Actors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="producers" routerLinkActive='producers'>Producers</a>
                </li>
            </ul>
        </div>
    </nav>
</div>