﻿<div class="container">
    <form (ngSubmit)="addActor()">
        <div class="card bg-light pr-1 pl-1">
            <div class="card-header">
                Add Actor
            </div>
            <div class="form-row">
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="aname">Actor Name</label>
                    <input class="form-control" type="text" id="aname" placeholder="aname" [(ngModel)]="newActor.aname" name="aname">
                </div>
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="adob">DOB</label>
                    <input class="form-control" type="text" id="adob" placeholder="adob" [(ngModel)]="newActor.adob" name="adob">
                </div>
            </div>
            <div class="form-row">
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="agender">Gender</label>
                    <input class="form-control" type="text" id="agender" maxlength="1" placeholder="M or F" [(ngModel)]="newActor.agender" name="agender">
                </div>
                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="datetime">BIO</label>
                    <input class="form-control" type="text" id="abio" placeholder="abio" [(ngModel)]="newActor.abio" name="abio">
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">
                    Add
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </form>

    <div *ngIf="actorCollection?.length > 0;else noItems">
        <div *ngFor="let actor of actorCollection" class="card text-white mt-3 mb-3 bg-primary">
            <div class="card-body">
                <div class="card-header">
                    Name: {{actor.aname}}
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class="card-text">Year : {{actor.adob}}</p>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class="card-text">Gender : {{actor.agender}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p class="card-text">Bio : {{actor.abio}}</p>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-xs btn-light  ml-2" (click)="editActor(actor)">
                        Edit
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-primary  ml-2" *ngIf="editactorstate && actorToEdit.aid == actor.aid" (click)="clearEditActor()">
                        Back
                        <i class="fa fa-compress"></i>
                    </button>
                </div>
            </div>
            <div *ngIf="editactorstate && actorToEdit.aid == actor.aid">
                <form (ngSubmit)="UpdateActor(actorToEdit)">
                    <div class="card  bg-success">
                        <div class="card-header text-center">
                            Edit Actor Details
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="card-header">
                                    Name: {{actorToEdit.aname}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" type="text" placeholder="adob" [(ngModel)]="actorToEdit.adob" name="adob">
                                </div>
                                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" type="text" placeholder="agender" [(ngModel)]="actorToEdit.agender" name="agender">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="from-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" type="text" placeholder="abio" [(ngModel)]="actorToEdit.abio" name="abio">
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">
                                    Update
                                    <i class="fa fa-check"></i>
                                </button>
                                <button type="button" class="btn btn-xs btn-danger  ml-2" (click)="deleteActor(actorToEdit)">
                                    Delete
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #noItems>
    <hr>
    <h5>No Actors found</h5>
</ng-template>